exportPattern("^[[:alpha:]]+") #Export all functions that start with a character
useDynLib(euroMix)
import(Familias)
import(forensim)
import(paramlink)
importFrom("graphics", "grconvertX", "grconvertY", "layout", "mtext","par", "rect")
importFrom("utils", "data", "read.table", "write.table")
